black
certifi
charset-normalizer
click
coverage
Cython
dnspython
email-validator
exceptiongroup
execnet
flake8
Flask
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
joblib
MarkupSafe
mccabe
mypy
mypy-extensions
numpy
oldest-supported-numpy
packaging
pandas
pathspec
platformdirs
pluggy
psycopg2
py
pycodestyle
pyflakes
pytest
pytest-cov
pytest-forked
pytest-rerunfailures
pytest-timeout
pytest-xdist
python-dateutil
pytz
requests
six
SQLAlchemy
tomli
typing_extensions
tzdata
urllib3
Werkzeug
WTForms
zipp